.container{
    width: 80%;
    margin: 50px auto;
}
body{
    background: #ddd0c8;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.contact-box{
    background: #fff;
    display: flex;
}
.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}
.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background: #323232;
    color: #fff;
}
h1{
    margin-bottom: 10px;
}
.container p{
    margin-bottom: 40px;
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row.input-group{
    flex-basis: 45%;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}
textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}
label{
    margin-bottom: 7px;
    display: block;
    color: #323232;
}
button{
    background: #323232;
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 15px;
}
.contact-left h3{
    color: #323232;
    font-weight: 600;
    margin-bottom: 40px;
}
.contact-right h3{
    font-weight: 600;
    margin-bottom: 40px;
}
tr td:first-child{
    padding-right: 25px;

}
tr td{
    padding-top: 20px;
}
.firstname{
    text-decoration: none;
    color: #323232;
    text-transform: uppercase;
    
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin-right: 120px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #323232;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #323232;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;

}
